<nav class="navbar navbar-expand-sm" style="background-color: #4704c5; height: 65px">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/"></a>

    <!-- Links -->
    <ul class="navbar-nav h-100" style="margin:0; padding: 0;">
        <li class="nav-item">
            <a class="nav-link nav-text" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-text" href="/news">Search news</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-text" href="/about">About me</a>
        </li>
    </ul>
</nav>